.app-div{
    margin:auto;
}

.title{
    font: 30px Bold Source Sans Pro, sans-serif;
}
.table{
    margin:auto;
    max-width:500px;
    background-color:#c1c1c1;
}

.tr{
    display:inline-flex;
    justify-content: space-evenly;
}
.col-prompt{
    font: 18px normal Source Sans Pro, sans-serif;
}

.col-answer input{
    font: 16px italic Source Sans Pro, sans-serif;
}
.btn-submit{
    width:85%;
    padding-top: 7px;
    padding-bottom: 7px;
    color:white;
    background-color: darkred;
}
.result{
    font: 20px bold Source Sans Pro, sans-serif;
}